html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input.list-item {
  border: 0px solid;
}

div.list-box {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.delete-button {
  position: absolute;
  right: 12px;
  bottom: 12px;
}
